
.scoreContainer {
  margin-top: 75px;
  display: grid;
  grid-template-rows: 100px 20px 100px 125px;
  background-color: rgb(177,177,179);
  padding: 10px;
  height:350px;
  width: 600px;
  border-radius: 15px;
  margin-left: 275px;
  margin-top: 100px;
  
}

.h1{
  text-align: center;
  height: 50px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 40px;
}

.h2{
  text-align: center;
  margin-top: 12px;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.butt {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 100px;
  margin-bottom: 15px;
}
.playagain {
width: 200px;
margin-left: 25px;
height:100px;
border-radius: 8px;

background-color:rgb(43,129,130);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
 
  line-height: 20px;
  list-style: none;
 
  outline: none;
  
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.playagain:hover,
.playagain:focus {
  background-color: rgb(255,211,24); 
  color: black;
}
.quitgame {
  width: 200px;
  margin-left: 25px;
  height:100px;
  border-radius: 8px;
  
  background-color:rgb(43,129,130);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
   
    line-height: 20px;
    list-style: none;
   
    outline: none;
    
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.quitgame:hover,
.quitgame:focus {
  background-color:rgb(3,172,206);
  color: black;
}